<div class="container ">
    <div class="row justify-content-center">
        <img src="./assets/img/burger.png" alt="Image of a burger" height="150px">
    </div>
    <div class="row justify-content-center">
        <h1>Eat-Da-Burger!</h1>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-6">
            
            {{!-- <div class="row">
                <div class="col-8 pb-5 burger-not-eaten">
                    1. Chicken Burger
                </div>
                <div class="col-4 mt-5">
                    Devour it!
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    2. CheeseBurger
                </div>
                <div class="col-4">
                    Devour it!
                </div>
            </div> --}}

        </div>
        <div class="col-6">
            {{!-- <div class="row">
                    3. Portebello Burger
            </div>
            <div class="row">
                    4. Chicken Burger
            </div> --}}
        </div>
    </div>
    <div class="row justify-content-center">
        <form>
            <div class="row justify-content-center">
            <textarea class="form-control mb-2" id="burgerText"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <p>Enter a burger you want to eat andc lick the "Submit" button.</p>
        </form>
    </div>
</div>