body {
    margin: 50px;
    background-color: #95c1ed;
}
h1 {
    color: #eb3172;
    font-size: 32px;
}

.burger-not-eaten {
    background-color: #d9e6fa;
    text-align: center;
    border: 1px solid #96a1a8;
}

.burger-eaten {
    padding-left: 10px;
    width: 100%;
    background-color: #d9e6fa;
    color: grey;
    border: 1px solid #96a1a8;
}

#burgerText {
    height: 60px;
    line-height: 16px;
    padding-top:20px;
}